<div class="login-container">
    <h2 class="form-login-heading">Login</h2>
    <div class="alert alert-danger" role="alert" *ngIf="loginError">
        <strong>Warning</strong> Username or Password mismatch
    </div>
    <form class="form-login" [formGroup]="loginForm" (ngSubmit)="performLogin()">
        <input [formControl]="username" type="text" class="form-control"
               placeholder="Your username or email address"
               autofocus />
        <!--<div *ngIf="!username.valid" class="error message">
            Username is invalid.
        </div>
        <div *ngIf="username.hasError('required')" class="error message">
            Username is required.
        </div>-->
        <input [formControl]="password" type="password" class="form-control"
               placeholder="Your password" />
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me" />
                Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
    </form>
</div>