<div class="user-container">
    <form class="form-user" [formGroup]="userForm"
          (ngSubmit)="onSubmit()">

        <h2 class="form-user-heading">
            {{title}}
        </h2>
        <!--Username-->
        <div class="form-group">
            <input [formControl]="username" type="text"
                   class="form-control"
                   placeholder="Choose an Username"
                   autofocus />
            <span class="validator-label valid"
                  *ngIf="this.userForm.controls.username.valid">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> valid!
            </span>
            <span class="validator-label invalid"
                  *ngIf="!this.userForm.controls.username.valid && !this.userForm.controls.username.pristine">
                <span class="glyphicon glyphicon-remove" ariahidden="true"></span> invalid
            </span>
        </div>
        <!--Email-->
        <div class="form-group">
            <input [formControl]="email" type="text"
                   class="form-control"
                   placeholder="Type your e-mail address" />
            <span class="validator-label valid"
                  *ngIf="this.userForm.controls.email.valid">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> valid!
            </span>
            <span class="validator-label invalid"
                  *ngIf="!this.userForm.controls.email.valid && !this.userForm.controls.email.pristine">
                <span class="glyphicon glyphicon-remove" ariahidden="true"></span> invalid
            </span>
        </div>
        <!--Email-->
        <div class="form-group">
            <input [formControl]="password" type="password"
                   class="form-control"
                   placeholder="Choose a Password" />
            <span class="validator-label valid"
                  *ngIf="this.userForm.controls.password.valid">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> valid!
            </span>
            <span class="validator-label invalid"
                  *ngIf="!this.userForm.controls.password.valid && !this.userForm.controls.password.pristine">
                <span class="glyphicon glyphicon-remove" ariahidden="true"></span> invalid
            </span>
        </div>
        <!--Password confirm-->
        <div class="form-group">
            <input [formControl]="passwordConfirm" type="password"
                   class="form-control"
                   placeholder="Confirm your Password" />
            <span class="validator-label valid"
                  *ngIf="this.userForm.controls.passwordConfirm.valid
                         && !this.userForm.controls.password.pristine 
                         && !this.userForm.hasError('compareField')">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> valid!
            </span>
            <span class="validator-label invalid"
                  *ngIf="(!this.userForm.controls.password.valid && !this.userForm.controls.password.pristine)
                            || this.userForm.hasError('compareField')">
                <span class="glyphicon glyphicon-remove" ariahidden="true"></span> invalid
            </span>
        </div>
        <!--Display Name-->
        <div class="form-group">
            <input [formControl]="displayName"
                   type="text" class="form-control"
                   placeholder="Choose a Display Name" />
        </div>

        <!--Buttons-->
        <div class="form-group">
            <input type="submit" class="btn  btn-primary btn-block" [disabled]="!userForm-valid"
                   value="Register" />

        </div>

    </form>
</div>